*{margin:0;padding:0;}

html, body{height:100%;}
body{background:url(../img/bg.jpg) no-repeat;background-size:cover;}

.wrap{position:relative;width:100%;height:100%;}
h1{padding:5%;text-align:center;color:rgba(33, 22, 22, 0.65);font-size:46px;}

.converter{width:800px;height:400px;margin:0 auto 5%;padding:20px;box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);border-radius:15px;background: rgba(255, 255, 255, 0.35);}
.converter-box{overflow:hidden;padding:10% 0;text-align: center;}

.rgba-input, 
.argb-input{display:inline-block;width:38%;margin:0 5%;}
.converter-box label{display:block;margin:0 0 20px;font-size:32px;}
.converter-box input{display:block;width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:10px 4%;font-size:28px;text-align:center;background: rgba(255, 255, 255, 0.25);border:1px solid #ccc;}

.converter-info{padding:6% 5% 2%;font-size:18px;color:#333;text-align:center;}

